<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>avgdata</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css'>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#dataTable').dataTable();
      });
    </script>
</head>
<body>
     <h2>#5] From a given boat, give the average of “Sensor X” for each day between these dates</h2>
     <h3>datepicker</h3>

     <Form.Control type="date">
       <input id="datepicker", name="datepicker" placeholder="from_date">
       <script>
         $(function () {
           $("#datepicker").datepicker();
         });
       </script>
     </Form.Control>
 
     <Form.Control type="date">
       <input id="date", name="datepicker" placeholder="to_date">
       <script>
         $(function () {
           $("#date").datepicker();
         });
       </script>
     </Form.Control>
     <form>
        <table id="dataTable" border="dark">
            <thead>
              <tr>
                <!-- <th scope="col">sensorName</th> -->
                <th scope="col">index0_avg</th>
                <th scope="col">index1_avg</th>
                <th scope="col">index2_avg</th>
              </tr>
            </thead>
            <tbody>
              
              {% for i in data %}
                <tr>
                  <!-- <td>{{i.sensorName}}</td> -->
                  <td>{{i.index0_avg}}</td>
                  <td>{{i.index1_avg}}</td>
                  <td>{{i.index2_avg}}</td>
                </tr>
              {% endfor %}
              
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#download">
                <a href="{{request.path}}?export=True">Download</a>
              </button>
              
            </tbody>
          </table>
     </form>
</body>
</html>