<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>sensorsdata</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css'>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $('#dataTable').dataTable();
      });
    </script>
</head>
<body>
     <h2>#6] For a given trip, tell me which sensors were available</h2>

     
    <form>
        <table id="dataTable" border="dark">
            <thead>
              <tr>
                <!-- <th scope="col">sensorName</th> -->
                <th scope="col">sensors</th>
                
              </tr>
            </thead>
            <tbody>
              
              {% for i in data %}
                <tr>
                  
                  <td>{{i.sensors}}</td>
                  
                </tr>
              {% endfor %}
              
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#download">
                <a href="{{request.path}}?export=True">Download</a>
              </button>
              
            </tbody>
          </table>
    </form>
</body>
</html>