<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>all</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h3>All urls</h3>

    <h5><a href="http://127.0.0.1:8000/get_all_data/">sensor data</a></h5>
    <h5><a href="http://127.0.0.1:8000/timespan/">timespan data</a></h5>
    <h5><a href="http://127.0.0.1:8000/get_sum/">get_sum data</a></h5>
    <h5><a href="http://127.0.0.1:8000/get_avg/">get_avg data</a></h5>
    <h5><a href="http://127.0.0.1:8000/get_bsavg/">get_bsavg data</a></h5>
    <h5><a href="http://127.0.0.1:8000/get_sensors/">get_sensors data</a></h5>


    
</body>
</html>