<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>getalldata</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css'>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    
    <script type="text/javascript">
      $(document).ready(function(){
        $('#dataTable').dataTable();
      });
    </script>

</head>
<body>
  <H3>sensors available</H3>

  <form action="" method="GET">
    <select name="sensorName" >
      <option value="select">select</option>
      <option value="GYRO">GYRO</option>
      <option value="GPS">GPS</option>
      <option value="MAG">MAG'</option>
      <option value="AAC">AAC</option>
      <option value="UACC">UACC</option>
    </select>
  

    <h3>datepicker</h3>
    <Form.Control type="date">
      <input id="datepicker", name="from" placeholder="from_date">
      <script type="text/javascript">
        $(function () {
          $('#datepicker').datepicker({ format: 'yyyy-mm-dd' }).val()
        });
      </script>
    </Form.Control>

    <Form.Control type="date">
      <input id="date", name="to" placeholder="to_date">
      <script type="text/javascript">
        $(function () {
          $('#date').datepicker({ format: 'yyyy-mm-dd' }).val()
        });
      </script>
    </Form.Control>
    <button type="submit" value="select">submit</button>

  </form>

    <h2>#1] From a given trip, give me all the data for "Sensor X" over time</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#download">
      <a href="{{request.path}}?export=True{%if request.GET.sensorName%}&sensorName={{request.GET.sensorName}}{%endif%}{%if request.GET.from%}&from={{request.GET.from}}{%endif%}{%if request.GET.to%}&to={{request.GET.to}}{%endif%}">Download</a>
    </button>
      <table id="dataTable" border="dark">
        <thead>
          <tr>
            <th>sensorName</th>
            <th>dataPoints</th>
            <th>dateTime</th>
            <th>tripId</th>
          </tr>
        </thead>
        <tbody>

            {% for i in data %}
              <tr>
                <td>{{i.sensorName}}</td>
                <td>{{i.dataPoints}}</td>
                <td>{{i.dateTime}}</td>
                <td>{{i.tripId}}</td>
              </tr>
            {% endfor %}
          
        </tbody>
      </table>
    
    
</body>
</html>