<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>getalldata</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h2>#1] From a given trip, give me all the data for "Sensor X" over time</h2>
    <form>
        <table border="dark">
            <thead>
              <tr>
                <th scope="col">sensorName</th>
                <th scope="col">dataPoints</th>
                <th scope="col">dateTime</th>
                <th scope="col">tripId</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              {% for i in d %}
                <tr>
                  <td>{{i.sensorName}}</td>
                  <td>{{i.dataPoints}}</td>
                  <td>{{i.dateTime}}</td>
                  <td>{{i.tripId}}</td>
                </tr>
              {% endfor %}
              </tr>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#download">
                <a href="{{request.path}}?export=True">Download</a>
              </button>
              

              <div class="modal fade" id="download" tabindex="-1" >
                <div class="modal-dialog" >
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">file</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <button type="submit">submit</button>
                      </form>
                   
            </tbody>
          </table>
    </form>

</body>
</html>