<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ajax page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>AJAX task</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">click here</button>
        
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
        {% for i in form %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 

    <script>
        
    </script>
</body>
</html>